In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
df_netflix = pd.read_csv('/content/netflix_titles.csv')

In [ ]:
df_netflix.head()

In [ ]:
print('The columns of the Netflix data frame are :-  ',df_netflix.columns)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# export the dataframe as a table 'playstore' to the sqlite engine
df_netflix.to_sql("netflix", con =engine)

In [ ]:
sql='''
Select * from netflix
limit 10
''';
df_sql = pd.read_sql_query(sql,con=engine)
df_sql

In [ ]:
sql='''
Select distinct(show_id) from netflix
''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

In [ ]:
sql='''
Select
distinct(title) from netflix
where release_year >2020
''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

In [ ]:
sql='''
Select
distinct(title) from netflix
where release_year > 2020 and title='Blood & Water' or release_year < 2021 and title='Kota Factory'and not country= 'India'
''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

In [ ]:
sql = '''
Select distinct(title) as name from netflix
order by title
''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

In [ ]:
sql = '''
Select * from netflix
limit 5
''';
df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
Select
min(release_year) as min_release_year,
max(release_year) as max_release_year,
count(distinct release_year) as count_of_release_year,
round(avg(release_year),2) as avg_of_all_release_years,
sum(release_year) as avg_of_all_release_years
from netflix
limit 1
''';


df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
Select distinct ' country that End with ia :- '|| country as Value from netflix
where country like '%ia'
union all
Select distinct ' country that Starts with ia :-' || country as Value from netflix
where country like 'ia%'
union all
Select distinct ' country that has ia :- ' || country as Value from netflix
where country like '%ia%'
union all
Select distinct ' country that starts and end with a :- ' || country as Value from netflix
where country not like 'a%a%'

''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.tail()

In [ ]:
sql = '''
Select * from netflix
where country in ('India','United States','Austrailia')
order by country asc
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head(10)

In [ ]:
sql = '''
select * from netflix
where release_year between 2020 and 2021
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select
n1.show_id as Show_idtable1,
n2.type as Show_idTable2,
n2.title as Showtable2
from netflix n1
join netflix n2 on n1.show_id = n2.show_id
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select * from netflix where country = 'India'
union all
select * from netflix  where country = 'United States'
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select
sum(case when country = 'India' then 1 else 0 end) as Shows_in_India,
sum(case when country = 'United States' then 1 else 0 end) as Shows_in_United_States,
sum(case when country = 'South Africa' then 1 else 0 end) as Shows_in_Austrailia
from netflix
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select distinct(a.title) from (select * from netflix) a

''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select coalesce(release_year,0) as first_non_zero_valu from netflix
limit 10
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select cast(release_year as float) as first_non_zero_value from netflix
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head()

In [ ]:
sql = '''
select
title,
release_year,
case when release_year = lag(release_year) over (order by release_year asc) then 1 else 0 end as Back_to_Back
from netflix
order by release_year asc
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head(100)

In [ ]:
sql= '''
select title,type,director,
ROW_NUMBER() OVER (ORDER BY
title asc) as row_number
from netflix
group by title
order by title asc
''';

df_sql = pd.read_sql_query(sql,con = engine)
df_sql.head(100)

In [ ]:
sql='''

select a.value from (
Select
distinct ' country that End with ia :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"%ia"
)a
where rank=1

union all

select a.value from (
  Select
distinct ' first country that starts with a :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"a%"
)a
where rank=1

union all

select a.value from (
Select
distinct ' country that has a and minimum length 4 :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"a__%"
)a
where rank=1

''';


df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

In [ ]:
sql='''
with b as (
select
a.country,
a.count_of_shows,
row_number () over (order by a.count_of_shows desc) as rank
from
(
select
count(distinct title) as count_of_shows,
country
from netflix
group by country
) a
)
select country as country_most_shows from b
where  b.rank=1
 '''
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()